
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet">

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body style="background-image:url(~/Content/img/Ineter.jpg)" >
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <div id="login-page" style="background-image:url(~/Content/img/Ineter.jpg)" >
        <div class="container">
            <div class="form-login">
                @using (Html.BeginForm("Login", "home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h2 class="form-login-heading">Ingreso</h2>
                    <div class="login-wrap">
                        <input name="usuario"  type="text" class="form-control" placeholder="Usuario" autofocus>
                        <br>
                        <input name="contraseña" type="password" class="form-control" placeholder="Contraseña">
                        <br />
                        <button class="btn btn-theme btn-block" value="Login" type="submit"><i class="fa fa-lock"></i> Ingresar</button>
                        <br>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="~/Content/text/javascript" src="~/Content/lib/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("~/Content/img/Ineter.jpg", {
            speed: 500
        });
    </script>
</body>

</html>
